/*Estrutura Básica*/
*{
	padding: 0;
	margin: 0;
}
body {
	background-image: -o-linear-gradient(bottom, #4facfe 0%, #00f2fe 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, from(#4facfe), to(#00f2fe));
	background-image: linear-gradient(to top, #4facfe 0%, #00f2fe 100%);
	color: white;
	font-weight: bold;
	font-family: arial;
	height: 100vh;
	overflow: hidden;
}
main{
	height: 100%;
}
pre{
	background-color: #eeeeee;
	overflow: auto;
    white-space: pre-line !important;	
}
i{
	color: blue;
}

/* Navegação */
header{
	z-index: 5;
	position: absolute;
	height: auto;
	border-radius: 25px;
	-webkit-animation: surgi 1s;
	        animation: surgi 1s;
}
header ul>li{
	margin: 0 5rem !important;
}
.imagem{
	border-radius: 25px;
}


/* Cubo */
.cena{
	width: 200px;
	height: 200px;
	-webkit-perspective: 600px;
	perspective: 600px;
}

.cubo {
	width: 100%;
	height: 100%;
	position: relative;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.cubo-face {
	position: absolute;
	width: 100%;
	height: 100%;
}

.front {
	-webkit-transform: rotateY(0deg) translateZ(100px);
	transform: rotateY(0deg) translateZ(100px);
}

.back {
	-webkit-transform: rotateY(90deg) translateZ(100px);
	transform: rotateY(90deg) translateZ(100px);
}

.top {
	-webkit-transform: rotateY(180deg) translateZ(100px);
	transform: rotateY(180deg) translateZ(100px);
}

.bottom {
	-webkit-transform: rotateY(-90deg) translateZ(100px);
	transform: rotateY(-90deg) translateZ(100px);
}

.left {
	-webkit-transform: rotateX(90deg) translateZ(100px);
	transform: rotateX(90deg) translateZ(100px);
}

.right {
	-webkit-transform: rotateX(-90deg) translateZ(100px);
	transform: rotateX(-90deg) translateZ(100px);
}

.front,	
.bottom,
.left,
.right,
.top,
.back {
	background: -o-linear-gradient(top, #144cf4, #1454f4, #184cf4);
	background: -webkit-gradient(linear, left top, left bottom, from(#144cf4), color-stop(#1454f4), to(#184cf4));
	background: linear-gradient(to bottom, #144cf4, #1454f4, #184cf4);
}

#Tela{
	position: absolute;
	z-index: 5;
	-webkit-animation: aparecer 1s;
	        animation: aparecer 1s;
}
.actived{
	background-color: rgba(173,216,230, 0.5);
	border: 1px solid #add8e6;
	border-radius: 50px 0px !important;
	-webkit-animation: selecionado 2s infinite;
	        animation: selecionado 2s infinite;
}

/* Tela de Carregamento */
#Carregamento{
	position: absolute;
	height: 100vh;
	width: 100%;
	z-index: 6;
	background-color: rgba(0, 0, 0, 0.3);
}

/* Novidades */
#Novidades{
	width: 90%;
	height: 90%;
	text-align: center;
	background-color: white;
	padding: 5px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;	
}
#Novidades img{
	width: 150px;
	height: 150px;
	border-radius: 90px;
	border: 2px solid black;
}
#Novidades pre{
	max-height: 200px;
}

/* Amigos */
#Amigos{
	width: 100%;
	height: 100%;
}
#Amigos pre{
	overflow: auto;
    background-color: transparent;
    word-break: normal !important;
    word-wrap: normal !important;
    white-space: pre-line !important;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
#Amigos pre ul>li{
	margin-top: 5px;
}
.Amigos-lista>pre>ul li>img{
	border-radius: 90px;
	width: 50px;
	height: 50px;
}
.Amigos-lista{
	width: 90%;
	height: 90%;
	margin: auto;
	border: 2px solid white;
}

#Novidades, #Amigos{
	-webkit-animation: aparecer 2s;
	        animation: aparecer 2s;
	color: black;
	display: none;
}


/* Animação */
@-webkit-keyframes surgi{
	from {
		-webkit-transform: translateY(-1000px) ;
		        transform: translateY(-1000px) ;
	}
	to {
		-webkit-transform: translateY(0px) ;
		        transform: translateY(0px) ;
	}
}
@keyframes surgi{
	from {
		-webkit-transform: translateY(-1000px) ;
		        transform: translateY(-1000px) ;
	}
	to {
		-webkit-transform: translateY(0px) ;
		        transform: translateY(0px) ;
	}
}
@-webkit-keyframes rotacionar{
	from {
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
	}
	to {
		-webkit-transform: rotateY(0deg) ;
		        transform: rotateY(0deg) ;
	}
}
@keyframes rotacionar{
	from {
		-webkit-transform: rotateY(360deg);
		        transform: rotateY(360deg);
	}
	to {
		-webkit-transform: rotateY(0deg) ;
		        transform: rotateY(0deg) ;
	}
}
@-webkit-keyframes some{
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0;
	}
}
@keyframes some{
	from {
		opacity: 1.0;
	}
	to {
		opacity: 0;
	}
}
@-webkit-keyframes sumir{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
@keyframes sumir{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
@-webkit-keyframes aparecer{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@keyframes aparecer{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
@-webkit-keyframes selecionado{
	0%{
		background-color: rgba(173,216,230, 0.5);
	}
	50%{
		background-color: rgba(114,188,212, 0.5);
	}
	100%{
		background-color: rgba(173,216,230, 0.5);
	}
}
@keyframes selecionado{
	0%{
		background-color: rgba(173,216,230, 0.5);
	}
	50%{
		background-color: rgba(114,188,212, 0.5);
	}
	100%{
		background-color: rgba(173,216,230, 0.5);
	}
}

/* Hovers */
header ul>li:hover{
	border: 1px solid #add8e6;
	border-radius: 50px 0px;
	background-color: rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}
header ul>li:not(:hover){
	border: 0;
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0);
	-webkit-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

/* Dispositivos Mobiles */
/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.98px) {
	#Titulo {
		font-size: 2em;
	}
	.cena {
		width: 100px;
		height: 100px;
	}
	.front {
		-webkit-transform: rotateY(0deg) translateZ(50px);
		transform: rotateY(0deg) translateZ(50px);
	}

	.back {
		-webkit-transform: rotateY(90deg) translateZ(50px);
		transform: rotateY(90deg) translateZ(50px);
	}

	.top {
		-webkit-transform: rotateY(180deg) translateZ(50px);
		transform: rotateY(180deg) translateZ(50px);
	}

	.bottom {
		-webkit-transform: rotateY(-90deg) translateZ(50px);
		transform: rotateY(-90deg) translateZ(50px);
	}

	.left {
		-webkit-transform: rotateX(90deg) translateZ(50px);
		transform: rotateX(90deg) translateZ(50px);
	}

	.right {
		-webkit-transform: rotateX(-90deg) translateZ(50px);
		transform: rotateX(-90deg) translateZ(50px);
	}	
	#Novidades img{
		width: 50px;
		height: 50px;
	}	
	#Novidades pre{
		max-height: 100px;
	}		
}
@media(max-width: 240px){

}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	#Titulo {
		font-size: 4em;
	}
	.cena{
		width: 150px;
		height: 150px;
	}
	.front {
		-webkit-transform: rotateY(0deg) translateZ(75px);
		transform: rotateY(0deg) translateZ(75px);
	}

	.back {
		-webkit-transform: rotateY(90deg) translateZ(75px);
		transform: rotateY(90deg) translateZ(75px);
	}

	.top {
		-webkit-transform: rotateY(180deg) translateZ(75px);
		transform: rotateY(180deg) translateZ(75px);
	}

	.bottom {
		-webkit-transform: rotateY(-90deg) translateZ(75px);
		transform: rotateY(-90deg) translateZ(75px);
	}

	.left {
		-webkit-transform: rotateX(90deg) translateZ(75px);
		transform: rotateX(90deg) translateZ(75px);
	}

	.right {
		-webkit-transform: rotateX(-90deg) translateZ(75px);
		transform: rotateX(-90deg) translateZ(75px);
	}
}